@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/* Apply styling to the contact page container */
.contact {
    
    padding: 40px;
    text-align: center;
}

/* Style the title */
.contact h2 {
    font-size: 100px;
    color: rgb(255, 238, 0);
    margin-bottom: 20px;
    font-family: Satisfy;
}

/* Style the description */
.contact p {
    font-size: 16px;
    color: #777;
}

/* Style the contact form container */
.contact-form {
    margin-top: 20px;
    text-align: left;
    max-width: 400px;
    margin: 0 auto;
}

/* Style form labels */
.contact-form label {
    color:rgb(255, 238, 0) ;
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

/* Style form inputs and text area */
.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Style the submit button */
.contact-form button {
    background-color:rgb(255, 238, 0);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Style the submit button on hover */
.contact-form button:hover {
    background-color: #0056b3;
}


