@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
body {
    background-image: url("https://d3nn873nee648n.cloudfront.net/900x600/18543/220-SM836812.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    height: 100vh;
}

#abc{ background-color: yellow;
}   


.container {
    
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    text-align: center;
}

.signup-form {
    padding: 20px;
}

h2{
    color: yellow;
    font-family: Satisfy;
    font-size: 50px;
    margin: 0;
    padding: 0;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group input[type="submit"] {
    background-color: #0073e6;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

.form-group input[type="submit"]:hover {
    background-color: #005bb7;
}

p {
    color: yellow;
    margin-top: 10px;
    font-size: 14px;
}

p a {
    text-decoration: none;
    color: #0073e6;
}

p a:hover {
    text-decoration: underline;
}

